.admin-sidebar {
    width: 300px;
    height: 90vh;
    background: #01377D;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.admin-sidebar .badge-icon {
    background: #fff;
    border-radius: 50%;
    border: 1px solid #0000;
    max-width: 60px;
    max-height: 60px;
}

.admin-sidebar .badge-icon img {
    width: 100%;
    height: 100%;
}

.admin-sidebar .logo-wrapper {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.admin-sidebar .badge {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    gap: 30px;
}

.admin-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-links a {
    font-size: 22px;
    font-weight: 500;
    transition: 100ms;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
}

.admin-links a:last-child {
    color: red;
}

.admin-links a:hover {
    background: #fff;
    color: #000;
}

.logout-btn{
    font-size: 22px;
    font-weight: 500;
    transition: 100ms;
    color: red;
    background: transparent;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    text-align: start;
}


.logout-btn:hover{
    background: #fff;
    color: #000;
}