ul {
    margin-top: 20px;
    /* position: relative; */
}

ul,
li {
    list-style: none;
    position: relative;
}

.sidebar-ul {
    padding: 10px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .25);
    border-radius: 10px;
    background: #fff;
    width: 300px;
}

.sidebar-ul .sidebar-link p {
    color: #4361ee;
    display: flex;
    font-size: 20px;
}

.sidebar-ul .sidebar-link:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px 0px 10px 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

.sidebar-ul .sidebar-link:last-child a {
    border-bottom: none;
}

.sidebar-ul .sidebar-link .maincategory {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    font-size: 17px;
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
    padding: 20px 0px;
    padding-left: 20px;
}

.sidebar-ul .sidebar-link:last-child {
    border: none;
}


.sub-category-item {
    background: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 2;
    display: none;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .25);
}


.sidebar-ul .sidebar-link:hover .sub-category-item {
    display: block;
}

.sub-category-item .subcategory {
    font-size: 16px;
    color: #000;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}